$xl-bp: 1920px;
$xm-bp: 1280px;
$sl-bp: 1024px;
$sm-bp: 768px;
$xs-bp: 600px;

// colors
$white: #FFFFFF;
$black: #000000;

$dark: #06195E;

$grey-1: #F3F3F3;

$accent: #3858C9;

// fonts
$f-ibm: 'IBM Plex Sans', sans-serif;
$f-dewi: 'RF Dewi', sans-serif;